LXCUP_AGENT_TOKEN={{ lxcup_agent_token }}
LXCUP_AGENT_ID={{ lxcup_agent_id }}
LXCUP_TARGET_ID={{ lxcup_agent_id }}
LXCUP_AGENT_BIND_ADDRESS={{ lxcup_agent_bind_address }}
{% if lxcup_controller_url | default('') | trim %}
LXCUP_CONTROLLER_URL={{ lxcup_controller_url }}
{% endif %}
